/* line 4, ../../src/scss/wordlift-containers.scss */
body {
  font: 100% Helvetica, sans-serif;
  color: black;
}

/* line 9, ../../src/scss/wordlift-containers.scss */
.container-wrapper p.debug-box {
  color: #665;
  padding: 0em 1em;
}
