<!DOCTYPE html>
<html>
<head>
<link href="../bower_components/foundation/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="../bower_components/foundation/css/foundation.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../bower_components/famous-angular/dist/famous-angular.css">

<script src="../bower_components/foundation/js/vendor/jquery.js"></script>
<script src="../bower_components/foundation/js/foundation.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/famous/famous-global.js"></script>
<script src="../bower_components/famous-angular/dist/famous-angular.js"></script>
<script src="../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>

<script src="//jwpsrv.com/library/5yYO2lFjEeSfJCIAC0WXxA.js"></script>
<script src="js/wordlift-containers.js"></script>
<link href="css/wordlift-containers.css" rel="stylesheet" type="text/css">
<script src="js/foundation-starter.js"></script>
 
  <meta charset="utf-8">
  <title>Mico SC-02 frontend prototype</title>
</head>
<body>
  
  <div class="row">
    <div class="large-12 columns">
      <h1>MICO SC-02 Prototype</h1>
      <h2 class="subheader"><small>Wordpress-less HTML5/JS angular based frontend prototype</small></h2>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-7 columns">
  		
      <wl-container uri="data/Video.json" stack="stack" listening="userInteractions"></wl-container>
      <wl-container uri="data/News1.json" stack="stack"></wl-container>

      <wl-container uri="data/HewaVideo.json" stack="stack" listening=""></wl-container>
    <script type="text/javascript">
window.containers['data/HewaVideo.json'] = {
  "ctn": "Video",
  "origin": "/data/HewaVideo.json",
  "items": [
    {
      "id": 17,
      "title": "Best video ever",
      "content": "yeeeee",
      "uri": "http://mysite.com/api/posts/11",
      "meta": {
        "thumb": "http://mysite.com/images/11",
        "videoURL": "https://www.youtube.com/embed/ee925OTFBCA" 
      }
    }
  ], 
  "skin": "hewa-players-loop"
};
  </script>


    </div>
    <div class="large-5 columns">
    	    <div class="row panel">
      <h3>Debug Panel</h3>
 
      <h5>Stack inspector</h5>
    <table>
 		    <thead>
    		<tr><th>Container Id</th><th>Current container origin</th></tr>
  			</thead>
  			<tbody>
          		<tr ng-repeat="(k, v) in stack"><td>{{k}}</td><td>{{v}}</td></tr>
			</tbody>
        </table>
      <h5>Context inspector</h5>
 		    <h6>User properties</h6>
       <table>
        <thead>
        <tr><th>Property</th><th>Value</th></tr>
        </thead>
        <tbody>
              <tr ng-repeat="prop in context.userProperties"><td>{{prop[0]}}</td><td>{{prop[1]}}</td></tr>
      </tbody>
    </table>
      <h6>User interactions</h6>
     
       <table>
 		    <thead>
    		<tr><th>Action</th><th>Content Id</th></tr>
  			</thead>
  			<tbody>
          		<tr><td>{{context.userInteractions.action}}</td><td>{{context.userInteractions.item.id}}</td></tr>
			</tbody>
    </table>
     <h5>Observer inspector</h5>
 		<table>
 		    <thead>
    		<tr><th>Container</th><th>Observers</th></tr>
  			</thead>
  			<tbody>
          		<tr ng-repeat="(k, v) in observers"><td>{{k}}</td><td>{{v}}</td></tr>
			</tbody>
        </table>
    </div>
    </div>
  </div>
  



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55105729-1', 'auto');
  ga('send', 'pageview');

</script>
  
</body>
</html>