<!DOCTYPE html>
<html>
<head>
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/normalize.min.css" rel="stylesheet" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/foundation.min.css" rel="stylesheet" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/vendor/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="js/shoof-ui.js"></script>
<link href="css/shoof.ui.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>Mico SC-02 frontend prototype</title>
</head>
<body ng-controller="ShoofCtrl">
  
  <div class="row">
    <div class="large-12 columns">
      <h1>MICO SC-02 Prototype</h1>
      <h2 class="subheader"><small>Wordpress-less HTML5/JS angular based frontend prototype</small></h2>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <h5>Context modifier</h5>
      <form ng-submit="submit()">
        <input type="text" ng-model="contextProperty" placeholder="Context property"/>
        <input type="text" ng-model="contextPropertyValue" placeholder="Context property value"/>
        <input type="submit" value="update context" class="button small round"/>
        <input type="button" ng-click="reset()" value="reset" class="button small round alert" />
      </form>     
    </div>
    <div class="large-3 columns">
      <h5>Context Inspector</h5>
      <ul><li ng-repeat="(k, v) in context">Property <strong>{{k}}</strong>, value <strong>{{v}}</strong></li></ul>
    </div>
    <div class="large-5 columns">
      <h5>Current stack</h5>
 		<table>
          <tr ng-repeat="(k, v) in stack"><td>{{k}}</td><td>{{v}}</td></tr>
        </table>
    </div>
     <hr/>
  </div> 


  <wl-container uri="/data/News1.json" stack="stack"></wl-container>
  <wl-container uri="/data/News1.json" stack="stack"></wl-container>
  <wl-container uri="/data/News1.json" stack="stack"></wl-container>
  
  <script type="text/javascript">
  //window.containers['/data/News1.json'] = undefined
/*  
window.containers['/data/News1.json'] = {
	"ctn": "News1",
	"origin": "/data/News1.json",
	"items": [
		{
			"id": 11,
			"title": "Obama just died",
			"content": "He was bombed by terrorists while having his usual daily shit",
			"uri": "http://mysite.com/api/posts/11",
			"meta": {
				"thumb": "http://mysite.com/images/11"
			}
		},
		{
			"id": 5,
			"title": "Ukranians were really happy this time",
			"content": "We interviewed some ukranians, they really love Nike shoes.",
			"uri": "http://mysite.com/api/posts/5",
			"meta": {
				"thumb": "http://mysite.com/images/5"
			}
		},

	], 
	"skin": "news"
};
*/
  </script>
</body>
</html>